name: Deploy API to Azure

on:
  push:
    branches:
      - master  # Déclenche le workflow à chaque push sur la branche 'main' 

env:
  AZURE_WEBAPP_NAME: srv-hexagon-prod    # Nom de votre Azure App Service
  AZURE_WEBAPP_PACKAGE_PATH: './Backend/publish' # Chemin où sont publiés les fichiers
  DOTNET_VERSION: '9.0.x'                      # Version .NET Core

jobs:
  build-and-deploy:
    runs-on: windows-latest  # Utilisez un agent Windows car l'API semble être dans un environnement Windows (PowerShell)

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore ./Backend/Hexagonal.sln

      - name: Build
        run: dotnet build ./Backend/Hexagonal.sln --configuration Release --no-restore

      - name: Publish API
        run: dotnet publish ./Backend/Hexagonal/Hexagonal.csproj --configuration Release --output ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          # Vous devez configurer ce secret dans vos paramètres GitHub Actions
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }} 
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
