name: Deploy .NET API to App Service

on:
  push:
    branches:
      - master # Se lance uniquement pour les pushes sur master 
    # paths:
    #   - 'Hexagonal/**' # <--- CECI EST SUPPRIMÉ
    
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build .NET API and Deploy

    steps:
      - uses: actions/checkout@v3
        
      # 1. Configuration de l'environnement .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.x' 
          
      # 2. CONNEXION AZURE
      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      # 3. Publier l'API
      - name: Publish API
        run: dotnet publish Hexagonal -c Release --output publish_output
        
      # 4. Déploiement sur Azure App Service
      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'Hexagon' 
          package: '${{ github.workspace }}/publish_output'
          
      # 5. Déconnexion Azure (Bonne pratique)
      - name: Logout from Azure
        run: |
          az logout
        if: always()