name: Build API Artifact Only

on:
  push:
    branches:
      - main

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        # L'API se trouve à la racine du workspace dans ce repo
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.x' # Vérifiez votre version
          
      - name: Restore dependencies
        run: dotnet restore
        working-directory: HexagonalAPI # Votre dossier API
        
      - name: Publish API
        run: dotnet publish --no-restore -c Release -o publish
        working-directory: HexagonalAPI
        
      # Upload de l'artefact
      - name: Upload API Artifact for Deployment
        uses: actions/upload-artifact@v4 
        with:
          app-name: 'Hexagon' 
          package: '${{ github.workspace }}/publish_output'
          
      # 5. Déconnexion Azure (Bonne pratique)
      - name: Logout from Azure
        run: |
          az logout
        if: always()
